name: CI Machine Learning

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Check Env
      run: python --version

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow
        pip install -r MLproject/requirements.txt

    - name: Set MLflow Tracking URI
      run: |
        export MLFLOW_TRACKING_URI=./mlruns

    - name: Run MLflow Project
      run: |
        cd MLproject
        mlflow run .
